{% extends 'dash/_layout.html' %}
{% load dash %}

{% block nav %}
<a href="{% url 'learners' %}" >Apprenants</a>
&nbsp;|&nbsp;
<a href="{% url 'resources' %}" >Ressources</a>
{% endblock %}
                
{% block top %}
    <div class="float-right">
        <!-- Activity select all -->
        <a id="activity_select_all" href="#" onclick="return false;">Tout sélectionner</a>
        <script>
            switch_class(activity_select_all, "d-none", "d-inline", has_param("traces_range"));
            $(activity_select_all).on("click", () => {
                remove_param("traces_range");
            });
        </script>
        <!-- Activity toogle -->
        <button type="button" class="btn btn-secondary-outline dropdown-toggle" id="activity_toogle_button"></button>
        <script>
            var activity_visible = true;
            $(activity_toogle_button).on("click", () => {
                switch_class("#activity_div", "d-block", "d-none", activity_visible);
                activity_visible = switch_class("#learning_path_canvas", "learning_path_canvas_small", "learning_path_canvas_big", activity_visible);
            });
        </script>
    </div>
    <!-- Activity graphic -->
    {% if activity_buckets %}
    <h4>Activité</h4>
      <div class="chart-container">
         <canvas id="activity_canvas" height="150"></canvas>
      </div>
      <script>
          xdash_activity_chart({{ activity_buckets|jsonify }}, "activity_canvas");
      </script>
    {% endif %}
    
    <style>
    #activity_div {
        background-color:#fff;
    }
    </style>
{% endblock %}