{% extends 'dash/layout.html' %}
{% load dash %}

{% block body %}

        <div class="top">
            <div class="container-fluid">
                <a href="{% url 'learners' %}" >Apprenants</a>
                &nbsp;|&nbsp;
                <a href="{% url 'resources' %}" >Ressources</a>
                <a href="{% url 'cas_ng_logout' %}" class="float-right">Déconnexion</a>
                <div>
                   <!-- Item selection -->
                   <select type="" id="selector" class="form-control">
                        <option value="">Choisissez</option>
                        {% for choice in choices %}
                            <option value="{{ choice.key }}" {{ params.id|compare:choice.key|ontrue:"selected" }}> {{ choice.name }}</option>
                        {% endfor %}
                    </select>
                    <hr/>
                    <script>
                        // on learner selection
                        $('#selector').on("change", (e) => {
                            change_param("id",$('#selector').val());
                        });
                    </script>


                    {% block top %}
                        <div class="float-right">
                            <!-- Activity select all -->
                            <a id="activity_select_all" href="#" onclick="return false;">Tout sélectionner</a>
                            <script>
                                switch_class(activity_select_all, "d-none", "d-inline", has_param("traces_range"));
                                $(activity_select_all).on("click", () => {
                                    remove_param("traces_range");
                                });
                            </script>
                            <!-- Activity toogle -->
                            <button type="button" class="btn btn-secondary-outline dropdown-toggle" id="activity_toogle_button"></button>
                            <script>
                                var activity_visible = true;
                                $(activity_toogle_button).on("click", () => {
                                    switch_class("#activity_div", "d-block", "d-none", activity_visible);
                                    activity_visible = switch_class("#learning_path_canvas", "learning_path_canvas_small", "learning_path_canvas_big", activity_visible);
                                });
                            </script>
                        </div>
                        <!-- Activity graphic -->
                        {% if activity_buckets %}
                        <h4>Activité</h4>
                        <div id="activity_div">
                            {% include "dash/includes/activity.html" %}    
                        </div>
                        {% endif %}
                        
                        <style>
                        #activity_div {
                            background-color:#fff;
                        }
                        </style>
                    {% endblock %}
                </div>
                
            </div>
        </div>
        <div>
            <div class="container-fluid">
                
                {% block content %}
                {% endblock %}
            </div>
        </div>

    <style>
        .top {
            position:sticky;
            top:0px;
            background-color:#fff;
            z-index:1000;
        }
    </style>
{% endblock %}  
</html>