{% extends 'dash/_layout_adn.html' %}


{% block content %}

    
    {% if traces %}
        <hr/>
    <div class="row">
        <!-- Learner path -->
        <div class="col-lg-6" id="learning_path_div">
            <h4>Chemin d'apprentissage</h4>
            {% include "dash/includes/learning_path.html" %}    
        </div>

        <!-- Learner traces -->
        <div class="col-lg-6" id="traces_div">
            <div class="float-right">
                <h4 class="d-inline">Traces</h4>
                <button type="button" class="btn btn-secondary-outline dropdown-toggle" id="traces_toogle_button"></button></td>
            </div>
            <div id="traces_list" class="overflow-auto vh-100 x-clear">
                {% include "dash/includes/traces.html" %}    
            </div>
        </div>
        <script>
            var traces_visible = true;
            $(traces_toogle_button).on("click", () => {
                switch_class("#learning_path_div", "col-lg-6", "col-lg-10", traces_visible);
                switch_class("#traces", "d-table", "d-none", traces_visible);
                traces_visible = switch_class("#traces_div", "col-lg-6", "col-lg-2", traces_visible);
            });
        </script>
    </div>
    {% endif %}

   
{% endblock %}

