<script src="{{vue}}"></script>
<script src="{{axios}}"></script>

<link href="{{fontawesome}}" rel="stylesheet">

<input type=hidden id="www_root" value="{{www_root}}"/>
<div id="app" >
    <div>
      <hr/>
      <h3 class="main">{{labelblacklist}}</h3>
      <div id="categories" class="management-module">
        <category :id="0" :expanded="true" :root="true"></category>
      </div>
      <hr/>
      <h3 class="main">{{labelwhitelist}}</h3>
      <configurator :boxok="'{{boxok}}'"></configurator>
      <hr/>
      <h3 class="main">Valeur des coefficients</h3>
      <div id="coeffs" class="management-module">
        <div class="coeff-cat">
          <h4 class="main">Coefficients de digitalisation</h4>
          <test-grid :task="'get_static_coeffs'" :url="'configuration_handler.php'"></test-grid>
        </div>
        <div class="coeff-cat">
          <h4 class="main">Coefficients d'utilisation</h4>
          <test-grid :task="'get_dynamic_coeffs'" :url="'configuration_handler.php'"></test-grid>
        </div>
      </div>
      <hr/>
      <h3 class="main">Valeur des seuils</h3>
      <div id="seuils" class="management-module">
        <test-grid :task="'get_seuils'" :url="'configuration_handler.php'"></test-grid>
      </div>
    </div>
</div>
<br>
<style>
.category_item {
  border:  1px solid rgba(0,0,0,0.125);
  padding: 10px;
}
.form-item {
  margin-bottom : 5px;
}
.form-item .btn-primary {
  margin-top : 7px;
}

#coeffs{
  display: flex;
  margin-left:auto;
  margin-right:auto;
  text-align : center;
}

.coeff-cat {
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}

.coeff-cat>h4{
  margin-bottom: 15px;
}

table {
  border: 2px solid #00acdf;
  border-radius: 3px;
  background-color: #fff;
  margin-left: auto;
  margin-right : auto;
}

th {
  background-color: #00acdf;
  color: rgba(255, 255, 255, 0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 7px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

@-webkit-keyframes v-pulseStretchDelay
{
    0%,
    80%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-opacity: 1;             
                opacity: 1;
    }
    45%
    {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        -webkit-opacity: 0.7;             
                opacity: 0.7;
    }
}

@keyframes v-pulseStretchDelay
{
    0%,
    80%
    {
        -webkit-transform: scale(1);
                transform: scale(1);
        -webkit-opacity: 1;             
                opacity: 1;
    }
    45%
    {
        -webkit-transform: scale(0.1);
                transform: scale(0.1);
        -webkit-opacity: 0.7;             
                opacity: 0.7;
    }
}

.management-module {
  margin-top: 17px;
  padding-bottom: 5px;
}

</style>

<script type="module" src="assets/management.js"></script>
