<div id="indicateurs">
	<h3 class="main">{{title}}</h3>
	<table>
	    <thead>
	      <tr>
	        <th>{{namecolumnname}}</th>
	        <th>{{valuecolumnname}}</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>{{namecoursstatique}}</td>
	        <td>{{valuecoursstatique}}</td>
	      </tr>
	      <tr>
	      	<td>{{namecoursdynamique}}</td>
	      	<td>{{valuecoursdynamique}}</td>
	      </tr>
	      <tr>
	      	<td>{{nameetudiantsinscritsstatiques}}</td>
	      	<td>{{valueetudiantsinscritsstatiques}}</td>
	      </tr>
	      <tr>
	      	<td>{{nameetudiantsactifsstatiques}}</td>
	      	<td>{{valueetudiantsactifsstatiques}}</td>
	      </tr>
	      <tr>
	      	<td>{{nameetudiantsinscritsdynamiques}}</td>
	      	<td>{{valueetudiantsinscritsdynamiques}}</td>
	      </tr>
	      <tr>
	      	<td>{{nameetudiantsactifsdynamiques}}</td>
	      	<td>{{valueetudiantsactifsdynamiques}}</td>
	      </tr>
	    </tbody>
	</table>
</div>

<style>
#indicateurs{
	margin-top : 20px;
}

#indicateurs>h3{
	margin-bottom : 17px;
}

table {
  border: 2px solid #00acdf;
  border-radius: 3px;
  background-color: #fff;
  margin-left: auto;
  margin-right : auto;
}

th {
  background-color: #00acdf;
  color: white;
}

td {
  background-color: #f9f9f9;
}

th,
td {
  min-width: 120px;
  padding: 7px 20px;
}
</style>