{% load dash %} 

<div id="learning_path_canvas" class="learning_path_canvas_small"></div>

<style>
    #learning_path_canvas{
        font-family: 'Open Sans';
        background-color: #ffffff;
    }
    .learning_path_canvas_big{
        height:1000px;
    }
    .learning_path_canvas_small{
        height:500px;
    }
</style>




<script type="text/javascript">

    var traces = {{ traces|jsonify }};
    
    traces.sort(function(a, b) {
      return a.timestamp - b.timestamp;
    });
    var prev_trace = { 
        id: -1
    };
    var nodes = [{
        id: -1,
        label: "Début",
        shape: 'dot',
        color: {
            background: '#99cc00',
            border: '#669900'
        }
    }];
    var edges = [];
    var i = 0;
    
    for (i=0;i<traces.length;i = i + 1) {
        var trace = traces[i];

        if (trace.object == prev_trace.object 
            && trace.verb == prev_trace.verb
            && typeof trace.score !== "number") continue;
        
        var node = get_node({ 
            id: trace.id, 
            label: traces[i].object, 
            system: trace.system_id, 
            type: trace.object_type, 
            verb: trace.verb, 
            score: trace.score, 
            score_max: trace.score_max, 
            score_scaled: trace.score_scaled
        })

        node.trace = trace
        nodes.push(node)

        if (i >= 0) {
            edges.push({
                from: prev_trace.id,
                to: trace.id,
                color:"#000000",
                arrows:'to'
            })
        }
        prev_trace = trace;
    }
    nodes.push({
        id: -2,
        label: "Fin",
        shape: 'dot',
        color: {
            background: '#ff0000',
            border: '#cc0000'
        }
    })
    edges.push({
        from: prev_trace.id,
        color:"#000000",
        to: -2,
        arrows:'to'
    })

    // dotted lines
    for (i=0;i<nodes.length-1;i++) {
        for (j=i+1;j<nodes.length; j++) {
            if (nodes[i].trace && nodes[j].trace && nodes[i].trace.object_id == nodes[j].trace.object_id && 
                nodes[i].trace.verb == nodes[j].trace.verb &&
                (nodes[i].trace.object_type === "course" || nodes[i].trace.object_type === "web-content")) {
                edges.push({
                    from: nodes[i].id,
                    to: nodes[j].id,
                    dashes:[1, 8],
                    arrows:'',
                    physics:false,
                    color:"#aaaaaa"
                })
            }
        }
    }
   

    // create a network
    var container = document.getElementById('learning_path_canvas');
    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 12,
                face: 'Open Sans'
            },
            borderWidth: 2,
            shadow:true
        },
        edges: {
            width: 2,
            shadow:true
        },
        height:"80%", 
        width:"100%",
    };
    var cluster_options = {
        joinCondition:function(nodeOptions) {
            res = nodeOptions.trace ? nodeOptions.trace.system_id === "https://adn.isae-supaero.fr" : false;
            console.log(res);
            return res
        }
    }

    network = new vis.Network(container, data, options);
    //network.clustering.cluster(cluster_options);
    network.on("click", (ctx) => {
        
        var id = ctx.nodes[0];
        if (id !==undefined) {
            if (id.includes("cluster")) { 
                network.openCluster(id);
                return;
            }
            select_trace(id);
            var top = $(`#trace-${id}`).offset().top - $(traces_list).offset().top + $(traces_list).scrollTop()
            $(traces_list).stop().animate({
                scrollTop: top,
                duration:400
            });
            $("body").stop().animate({
                scrollTop: 0,
                duration:400
            });
        }

    });
</script>
