{% load dash %} 

<div id="resource_access_canvas" class="resource_access_canvas"></div>

<style>
    #resource_access_canvas{
        font-family: 'Open Sans';
        background-color: #ffffff;
    }
    .resource_access_canvas{
        height:1000px;
    }
</style>




<script type="text/javascript">

    var ways = {{ ways|jsonify }};
    var selected = {{selected | jsonify}};


    console.log(ways);
    console.log(selected);

    var node = get_node({
        id: selected.id,
        label: selected.definition.name.any,
        system: selected.system,
        type: selected.type,
        title: selected.id
    })
    var nodes = [node];
    var edges = [];

    function addNodes(data, arrows, edge_color) {
        for (key in data.items) {
            info = data.items[key]
            id = arrows + "|" + key;
            var node = get_node({
                id,
                label: `${info["name"]} (${Math.round(info.quota*100)}% - ${Math.round(info["distance"])}s)`,
                system: info["system"],
                type: info["type"],
                title: key
            })
            node.size = info.relative_count * 25

            nodes.push(node);
            edges.push({
                from: selected.id,
                to: id,
                arrows,
                color: edge_color.border,
                length:info["relative_distance"] * 50
            })

        }
    }
    addNodes(ways.previous, "from", { background: '#99cc00', border: '#669900'})
    addNodes(ways.next, "to", { background: '#ff0000', border: '#cc0000'})
    /*
    // dotted lines
    for (i=0;i<nodes.length-1;i++) {
        for (j=i+1;j<nodes.length; j++) {
            if (nodes[i].trace && nodes[j].trace && nodes[i].trace.object_id == nodes[j].trace.object_id && 
                nodes[i].trace.verb == nodes[j].trace.verb &&
                (nodes[i].trace.object_type === "course" || nodes[i].trace.object_type === "web-content")) {
                edges.push({
                    from: nodes[i].id,
                    to: nodes[j].id,
                    dashes:true,
                    arrows:'',
                    physics:false,
                    color:"#aaaaaa"
                })
            }
        }
    }*/
   

    // create a network
    var container = document.getElementById('resource_access_canvas');
    var data = {
        nodes: nodes,
        edges: edges
    };

    var options = {
        nodes: {
            shape: 'dot',
            size: 30,
            font: {
                size: 12,
                face: 'Open Sans'
            },
            borderWidth: 2,
            shadow:true
        },
        edges: {
            width: 2,
            shadow:true
        },
        height:"80%", 
        width:"100%",
    };

    network = new vis.Network(container, data, options);
    network.on("click", (ctx) => {
        
        var id = ctx.nodes[0];
        if (id !==undefined) {
            select_trace(id);
            var top = $(`#trace-${id}`).offset().top - $(traces_list).offset().top + $(traces_list).scrollTop()
            $(traces_list).stop().animate({
                scrollTop: top,
                duration:400
            });
            $("body").stop().animate({
                scrollTop: 0,
                duration:400
            });
        }

    });
</script>
