<div class="indicators-section">
    <h3 class="main">{{title}}</h3>
    <p>{{measurement_period_intro}} {{measurement_period}}<br>
        <i>{{measurement_disclaimer}}</i>
    </p>
    <table>
        <thead>
            <tr>
                <th>{{name_columnname}}</th>
                <th>{{value_columnname}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{name_digitalised_course}}</td>
                <td>{{value_digitalised_course}}</td>
            </tr>
            <tr>
                <td>{{name_used_course}}</td>
                <td>{{value_used_course}}</td>
            </tr>
            <tr>
                <td>{{name_nb_analysed_courses}}</td>
                <td>{{value_nb_analysed_courses}}</td>
            </tr>
            <tr>
                <td>{{name_digitalisation_registered_students}} {{processing_date}}</td>
                <td>{{value_digitalisation_registered_students}}</td>
            </tr>
            <tr>
                <td>{{name_digitalisation_active_students}} {{measurement_period}}</td>
                <td>{{value_digitalisation_active_students}}</td>
            </tr>
            <tr>
                <td>{{name_usage_registered_students}} {{processing_date}}</td>
                <td>{{value_usage_registered_students}}</td>
            </tr>
            <tr>
                <td>{{name_usage_active_students}} {{measurement_period}}</td>
                <td>{{value_usage_active_students}}</td>
            </tr>
        </tbody>
    </table>
    <p>{{end_processing}}<br>
    {{processing_duration}}</p>
</div>